* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-right: 40px;
  margin-left: 40px;
  background-color: #f2f2f2;
  color: black;
}

.navbar {
  border: 1px solid black;
  font: 16px;
  height: 330px;
  /* margin-right: 40px;
  margin-left: 40px; */
  color: white;
  background-color: #434ccc;
  font-family: "Times New Roman", Times, serif;
}

.navdiv {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo {
  margin-left: 40px;
  margin-top: 40px;
  font-size: 35px;
}

#list li {
  margin-right: 10px;
  font-size: 15px;
  margin-top: 40px;
  list-style: none;
  display: inline-block;
  cursor: pointer;
}
#list li a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

#signupbtn {
  margin-left: 85px;
  margin-right: 45px;
  font-size: 17px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  border-radius: 3px;
  height: 45px;
  width: 150px;
  border: 1px solid white;
  font-weight: bold;
}

#About {
  font-size: 70px;
  margin-top: 7%;
  margin-left: 40%;
  margin-bottom: 10px;
}
#abtpara {
  margin-left: 40%;
  font-size: 20px;
}

/* conatiner-one */
.main-conatinerA {
  display: flex;
}
.conatiner-oneA {
  height: 550px;
  width: 70%;
}

#title1 {
  letter-spacing: 5px;
  margin-top: 80px;
  margin-left: 100px;
}
#heading1 {
  font-size: 58.5px;
  margin-top: 17px;
  margin-left: 100px;
}
.section {
  gap: 10px;
  margin-left: 100px;
  margin-top: 50px;
  display: flex;
}

#para1 {
  margin-top: 34px;
  margin-left: 100px;
  font-size: 22px;
}
#title2 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}
img {
  float: left;
  height: auto;
}
.conatiner-twoA {
  margin-top: 40px;
}
.style_hr {
  margin-top: 150px;
}

/* continer_two */
.main-conatinerB {
  margin-top: 45px;
}

#heading2 {
  margin-left: 29%;
  font-size: 60px;
}
#para2 {
  margin-top: 20px;
  font-size: 22px;
  margin-left: 25%;
}
#para3 {
  font-size: 22px;
  margin-left: 38.5%;
}

/* cards */

.main-card {
  gap: 20px;
  justify-content: space-evenly;
  margin-top: 23px;
  width: 100%;
  height: 530px;
  /* border: 2px solid black; */
  display: flex;
}
.card1,
.card2,
.card3 {
  background-color: white;
  padding-top: 50px;
  height: 400px;
  width: 350px;
  border-radius: 5px;
}

img {
  padding-left: 100px;
}
#card-heading {
  font-size: 22px;
  margin-top: 165px;
  margin-left: 50px;
}
#card-para {
  color: #989a98;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 26px;
  padding-left: 25px;
  padding-right: 25px;
}
.line {
  margin: 25px;
}
button {
  font-size: 17px;
  margin-left: 26px;
  padding-left: 25px;
  padding-right: 25px;
  bottom: 0;
  border-style: none;
  background-color: white;
  font-weight: bold;
}

/* conatiner-3 */

.container-threeD {
  margin-top: 160px;
}
#title3 {
  margin-bottom: 15px;
  letter-spacing: 5px;
}
#heading3 {
  font-size: 60px;
  margin-bottom: 15px;
}
.img_para {
   color: #989a98;
   padding-top: 20px;
  padding-bottom: 20px;
  font-size: 22px;
  display: flex;
  
 
}
.img_para img {
  
 padding: 0;
  
}
.img_para p {
 padding-left: 5px;
  display: flex;
  padding-top:10px ;
}

#para4 {
  font-size: 22px;
  margin-bottom: 35px;
}

#Explorebtn {
  cursor: pointer;
  height: 48px;
  width: 170px;
  font-size: 15px;
  color: white;
  background-color: #434ccc;
  border-radius: 2px;
  border-radius: 8px;
  margin-top: 20px;
}
#learnbtn {
  margin-top: 20px;
  cursor: pointer;
  background-color: white;
  color: #434ccc;
  border: 1px solid #434ccc;
  font-size: 15px;
  height: 48px;
  width: 170px;
  border-radius: 8px;
}
/* footer */
.footer {
  margin-top: 450px;
  margin-bottom: 30px;
  width: 100%;
  height: 500px;
  background-color: #434ccc;
  color: white;
}
#footer-heading {
  display: flex;
  justify-content: center;
  font-size: 60px;
  padding-top: 80px;
  padding-bottom: 40px;
}
#footer-para1 {
  display: flex;
  justify-content: center;
  font-size: 22px;
}
.numbers {
  margin-top: 90px;
  display: flex;
  justify-content: space-evenly;
}
#numhead {
  font-size: 70px;
  display: flex;
  justify-content: center;
}
